%head
  %title AceWorkshop
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = google_webfonts_init({              |
      google: ['Varela Round', 'serif'] |
    })                                  |

%body#main
  .main-content
    %nav.navigation
      .header-image= link_to((image_tag 'gatorace.png'), "https://gatorace.org", target: '_blank')
      .actions
        = link_to 'Home', root_path
        = link_to 'About', about_path
        = link_to 'Contact', contact_path
        -# = link_to 'Sign out', sign_out_path, method: :delete if current_user.present?
      %h1= link_to 'ACE Workshops', root_path

    = yield

    %nav.footer{role: 'contentinfo'}
      .links
        .social
          %li= link_to(image_tag('twitter.png', alt: 'twitter'), 'https://www.twitter.com/lukerpfeiffer', target: '_blank')
          %li= link_to(image_tag('facebook.png', alt: 'facebook'), 'https://www.facebook.com/luke.pfeiffer.7', target: '_blank')
